h1.header {
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 5px 0px 5px 50px;
}


.section {
    background: rgb(248, 246, 242);
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    margin:20px;
    text-align: left;
    font-weight: bold;
}

.to-right {
    text-align: right;
}

#features-header {
    font-size: 130%;
}

.bank, .work {
    height: 350px;
    width: 18%;
    float: left;
}


.selection {
    width: 35%;
    float: left;
}

#image-section, #laptop-info-section, #buy-section {
    float: left;
    overflow: auto;
    padding: 3%;
    align-items: center;
    text-align: center;
}

.information {
    float:none;
    overflow: auto;
    width: 74%;
    align-items: center;
}

#loan, #repay-button {
    display: none;
}

button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
}

#loan-button {
    background-color: rgb(133, 182, 133);
    margin-top: 30%;
    width: 90%;
}

#to-bank-button {
    background-color: rgb(177, 177, 47);
    margin-top: 20%;
    width: 45%;
}

#work-button {
    background-color: rgb(97, 97, 212);
    width: 45%;
}

#repay-button {
    background-color: rgb(95, 209, 209);
    width: 93%;
}

#buy-button {
    background-color: rgb(100, 160, 230);
    color: black;
}

#select-laptop {
    border:ridge;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    margin: 0px ;
    cursor: pointer;
    border-radius: 8px;
}

#image-section {
    margin-top: 10px;
}

#laptop-info-section {
    font-size: 120%;
}

#buy-section {
    padding-top: 2%;
}

#laptops-features {
    line-height: 0.3;
    text-align: left;
}

#price-info {
    font-size: 200%;
}